<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4Uj47RLGo0EF2KrZlUxsOVhP4-oJExJo</string>
	<key>GCM_SENDER_ID</key>
	<string>1008363068060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.m09</string>
	<key>PROJECT_ID</key>
	<string>firestoretugasfourtwenty</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoretugasfourtwenty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008363068060:ios:42915004eb1f4c531dab59</string>
</dict>
</plist>